<html>
    <body>
        <h1>Detail Data Tamu</h1>
        <a href="/"> Batal </a>
        <hr>
        <form method="POST" action="/hapus">
            <table>
                <tbody>
                    <tr>
                        <td>UUID</td>
                        <td>:</td>
                        <td><input type="text" name="uuid" value="{{ ( index .Data 0 ).Uuid }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Nama Lengkap</td>
                        <td>:</td>
                        <td><input type="text" name="namaLengkap" value="{{ ( index .Data 0 ).NamaLengkap }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Domisili</td>
                        <td>:</td>
                        <td><input type="text" name="domisili" value="{{ ( index .Data 0 ).Domisili }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="submit" value="Hapus"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>