<html>
    <head>
        <title>Detail Tugas Pegawai</title>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <h1>Detail Tugas Pegawai</h1>
        <form method="POST" action="/hapus">
            <table class="form">
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="text" name="id" value="{{ ( index .Data 0 ).Id }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Nama Lengkap</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="text" name="namaLengkap" value="{{ ( index .Data 0 ).NamaLengkap }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Tugas</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="text" name="tugas" value="{{ ( index .Data 0 ).Tugas }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Deadline</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="text" name="deadline" value="{{ ( index .Data 0 ).Deadline }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="text" name="status" value="{{ ( index .Data 0 ).Status }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input class="btn delete" type="submit" value="Hapus">
                            <a class="btn edit" href="/"> Batal </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>