<html>
    <head>
        <title>Tambah Data Tugas Pegawai</title>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <h1>Tambah Data Tugas Pegawai</h1>
        <form method="POST" action="/tambah">
            <table class="form">
                <tbody>
                    <tr>
                        <td>Nama Lengkap</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="text" name="namaLengkap"></td>
                    </tr>
                    <tr>
                        <td>Tugas</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="text" name="tugas"></td>
                    </tr>
                    <tr>
                        <td>Deadline</td>
                        <td style="width: 5%;">:</td>
                        <td><input type="date" name="deadline"></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td style="width: 5%;">:</td>
                        <td>
                            <select name="status">
                                <option value="Ditugaskan">Ditugaskan</option>
                                <option value="Dalam Proses">Dalam Proses</option>
                                <option value="Selesai">Selesai</option>
                                <option value="Ditunda">Ditunda</option>
                                <option value="Dibatalkan">Dibatalkan</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input class="btn delete" type="submit" value="Simpan">
                            <a class="btn edit" href="/"> Batal </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>