<html>
    <body>
        <h1>Form Tambah Data Tamu</h1>
        <a href="/"> Batal </a>
        <hr>
        <form method="POST" action="/tambah">
            <table>
                <tbody>
                    <tr>
                        <td>Nama Lengkap</td>
                        <td>:</td>
                        <td><input type="text" name="namaLengkap"></td>
                    </tr>
                    <tr>
                        <td>Domisili</td>
                        <td>:</td>
                        <td><input type="text" name="domisili"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="submit" value="Tambah"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>