<html>
    <head>
        <title>Daftar Tamu Undangan</title>
    </head>
    <body>
        <h1>Daftar Tamu</h1>
        <p>{{.Pesan}}</p>
        <a href="/?aksi=tambah"> Tambah </a>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nama Lengkap</th>
                    <th>Domisili</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $value := .Data}}
                <tr>
                    <td>{{$value.Id}}</td>
                    <td>{{$value.NamaLengkap}}</td>
                    <td>{{$value.Domisili}}</td>
                    <td>
                        <a href="/?aksi=ubah&id={{$value.Id}}">Ubah</a> |
                        <a href="/?aksi=hapus&id={{$value.Id}}">Hapus</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>Nama Lengkap</th>
                    <th>Domisili</th>
                    <th>Aksi</th>
                </tr>
            </tfoot>
        </table>
    </body>
</html>