<html>
    <head>
        <title>Ubah Data Tamu Undangan</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <h1>Form Ubah Data Tamu</h1>
        <a class="btn add" href="/"> Batal </a>
        <hr>
        <form method="POST" action="/ubah">
            <table>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>:</td>
                        <td><input type="text" name="id" value="{{ (index .Data 0).Id }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Nama Lengkap</td>
                        <td>:</td>
                        <td><input type="text" name="namaLengkap" value="{{ (index .Data 0).NamaLengkap }}" ></td>
                    </tr>
                    <tr>
                        <td>Domisili</td>
                        <td>:</td>
                        <td><input type="text" name="domisili" value="{{ (index .Data 0).Domisili }}" ></td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="submit" value="Ubah"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>