<html>
    <head>
        <title>Ubah Data Tamu Undangan</title>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <h1>Form Ubah Data Tamu</h1>
        <form method="POST" action="/ubah">
            <table class="form">
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td  style="width: 5%;">:</td>
                        <td><input type="text" name="id" value="{{ (index .Data 0).Id }}" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Nama Lengkap</td>
                        <td  style="width: 5%;">:</td>
                        <td><input type="text" name="namaLengkap" value="{{ (index .Data 0).NamaLengkap }}" ></td>
                    </tr>
                    <tr>
                        <td>Domisili</td>
                        <td  style="width: 5%;">:</td>
                        <td><input type="text" name="domisili" value="{{ (index .Data 0).Domisili }}" ></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input class="btn delete" type="submit" value="Ubah">
                            <a class="btn edit" href="/"> Batal </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>